@import "variables.less";
@import "normalize.css";
@import "common/index.less";

.search-box {
  // border: 1px solid red;
}
.list-box {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
